<!doctype html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="container">
    <h2>Available Massages</h2>
    <a href="/massages/new"><button>Create a New Massage</button></a>
    <ul>
      <% massages.forEach((massage) => { %>
        <li> <% include _show %> </li>
      <% }); %>
    </ul>
  </div>
</body>
