<!doctype html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="container">
    <h2>Create a new massage</h2>
    <form action="/massages" method="post">
      <% include _form_fields %>
    </form>
  </div>
</body>
